.queueCard {
  flex-direction: column;
  position: relative;
}

.link {
  color: inherit;
  display: block;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.link svg {
  width: 10px;
  fill: var(--text-color);
  margin-right: 0.5rem;
}

.link:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
